#Files to ignore
TODO.md
testing/
docs/
SkillShare.session.sql
DB Testing.session.sql

# Environment files
.env

# Uploads
public/assets/images/sessions/*
!public/assets/images/sessions/.gitkeep

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
